.inputbg {
  background-color: var(--cardColor);
  padding: 1rem;
  border-radius: 3%;
}
.inputform {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}
.Inputpair {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.Input {
  border: none;
  outline: none;
  background-color: var(--inputColor);
  border-radius: 8px;
  padding: 1vw;
  width: 25vw;
  display: flex;
  justify-content: space-between;
}
.InputBig {
  border: none;
  outline: none;
  background-color: var(--inputColor);
  border-radius: 8px;
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.InputPassword {
  border: none;
  outline: none;
  background-color: transparent;
  width: 85%;
}
.InputPasswordSpan {
  font-size: 1vw;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: end;
  align-items: center;
}

.InputButton {
  height: 2.7vw;
  padding: 0.4vw 1.5vw;
  align-self: flex-end;
}
.InputLink {
  font-size: 1vw;
}
.doubleInput {
  display: flex;
  gap: 1rem;
}

.pimg {
  width: 7vw;
  height: 7vw;
  object-fit: cover;
  border-radius: 50%;
}
.cimg {
  width: 12vw;
  aspect-ratio: 5/3;
  object-fit: cover;
}
.fordisplayid{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* flex-direction: column; */
  gap: 1.5vw;
  font-size: 0.8vw;
  color: var(--black);
  font-weight: 600;
}
.fordisplayid>p>span{
  font-weight: bolder;
}
.inplg{
  width: 70vw;
  /* overflow: auto !important; */
}
/* .inplg option{
  overflow: scroll;
} */
/* .inplg::-webkit-scrollbar {
  display:flex;
} */
.checkbox{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: black; */
  
}
.checkbox>div{
  width: 70vw;
  /* background-color: aqua; */
  display: flex;
  justify-content: end;
  align-items: center;
  /* gap: vw; */
}
.checkbox>div>input{
  width: 4vw;
}
.inputtop{
  width: 70vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.inputtop>div{
  /* width: 15vw; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2vw;
}
.height{
  height: 30vh;
}
.yesorno{
  margin-top: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4vw;
}
@media only screen and (max-width: 600px) {
  .inputbg {
    padding: 0.5rem;
  }
  .inputform {
    gap: 0.5rem;
  }
  .Input {
    width: 70vw;
    padding: 0.5rem;
    border-radius: 4px;
    font-size: 2.5vw;
  }
  .InputBig {
    width: 70vw;
    padding: 0.5rem;
    border-radius: 4px;
    font-size: 2.5vw;
  }
  .InputPassword {
    font-size: 2.5vw;
  }
  .InputPasswordSpan {
    font-size: 2vw;
    display: flex;
    justify-content: end;
    align-items: center;
  }
  .InputLink {
    font-size: 2vw;
  }
  .InputButton {
    width: 12vw;
    height: 5vw;
    align-self: flex-end;
  }
  .pimg {
    width: 20vw;
    height: 20vw;
  }
  .cimg {
    width: 32vw;
    aspect-ratio: 5/3;
  }
.fordisplayid{
font-size: 2vw;
}
}
