.Auth {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 4rem;
  position: relative;
}

.Auth > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.a-left {
  gap: 2rem;
}
.a-left > img {
  width: 15vw;
}
.Webname > h1 {
  font-size: 3.5vw;

  background-color: var(--buttonBg);

  background-size: 100%;
  background-repeat: repeat;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.Webname > h6 {
  font-size: 1vw;
}

@media only screen and (max-width: 600px) {
  .Auth {
    flex-direction: column;
    gap: 2rem;
  }
  .a-left > img {
    width: 30vw;
  }
  .a-left {
    gap: 6vw;
  }
  .Webname > h1 {
    font-size: 10vw;
  }
  .Webname > h6 {
    font-size: 2.5vw;
  }
}
