.Auth {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  height: 100vh;
  gap: 4rem;
  position: relative;
  padding-left: 10vw;
}

.Auth > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.a-left {
  gap: 2rem;
}
.a-left > img {
  width: 15vw;
}
.Webname > h1 {
  font-size: 3.5vw;

  background-color: var(--buttonBg);

  background-size: 100%;
  background-repeat: repeat;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.Webname > h6 {
  font-size: 1vw;
}
.Auth>div>img{
  width: 50vw;
  position: absolute;
  bottom: 0;
  right: 0;
  /* background-color: var(--buttonBg); */
}

@media only screen and (max-width: 600px) {
  .Auth {
    flex-direction: column;
    gap: 2rem;
    padding-left: 0;
    justify-content: space-between;
    /* padding-bottom: 15vw; */
  }
  .a-left > img {
    width: 30vw;
  }
  .a-left {
    margin-top: 25vw;
    gap: 6vw;
    flex-direction: column-reverse;

  }
  .Webname > h1 {
    font-size: 10vw;
  }
  .Webname > h6 {
    font-size: 2.5vw;
  }
.Auth>div>img{
width: 100vw;
/* position: static; */
/* margin-right: -20vw; */
}
}
@media only screen and (max-width: 1024px) and (min-width:600px){
  .Auth{
  padding-left: 6vw;

  }
  .Auth>div>img{
    width: 40vw;
  }
}

